{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <h4>I can still remember yesterday
We were so in love in a special way
And knowing that you love me made me feel, oh, so right
But now, I feel lost, don't know what to do
Each and every day, I think of you
Holdin' back the tears, I'm trying with all my might
Because you've gone and left me standing all alone
And I know I've got to face tomorrow on my own
But baby, before I let you go
I want to say "I love you"
I hope that you're listenin'
'Cause it's true, baby
You'll be forever in my heart
And I know that no one else will do, yeah-hey
So before I let you go
I want to say "I love you"
Hmm, hmm
I wish that it could be just like before
I know I could've given you so much more
Even though you know, I've given you all my love
I miss your smile, I miss your kiss
Each and every day I reminisce
'Cause baby, it's you that I'm always dreaming of
Because you've gone and left me standing all alone
And I know I've got to face tomorrow on my own
But baby, before I let you go
I want to say "I love you"
I hope that you're listenin'
'Cause it's true, baby
You'll be forever in my heart
And I know that no one else will do, yeah-hey
So before I let you go
I want to say...
'Cause letting love go is never easy
But I love you so, that's why I'll set you free, yeah, hey, yeah
And I know, someday
Somehow, I'll find a way
To leave it all behind me
I guess it wasn't meant to be
But baby, before I let you go
I want to say "I love you"
I hope that you're listenin'
'Cause it's true, baby
You'll be forever in my heart
And I know that no one else will do, yeah
So before I let you go
I want to say, yeah
So before I let you go
I want to say
"I love you"</h4>
</body>
</html>